$dark: #000;
$light: #D3D3D3;
$primary: #A4161A;
$danger: #ff0000;
//$secondary: #B2B09B;

$input-border-color: #000;
$input-focus-border-color: #000;
$focus-ring-color: #000;
$focus-ring-width: 0px;

$accordion-button-focus-border-color: $primary;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: #fff;
$accordion-icon-active-color: #fff;

$nav-tabs-link-active-color: $light;
$nav-tabs-link-active-bg: $primary;


@import "../../../node_modules/bootstrap/scss/bootstrap";

// Custom CSS

* {
  font-family: "Rubik", sans-serif;
}

#backgroundImage {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* The image used */
  background-image: url("src/assets/media/book-background.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.dark-text-bg-hover {
  &:hover {
    background-color: fade-out($dark, 0.60);
  }
  &:hover * {
    color: fade-in(white, 1);
  }
}

.danger-text-bg-hover {
  &:hover {
    background-color: fade-out($danger, 0.60);
  }
  &:hover * {
    color: fade-in(white, 1);
  }
}

.thumbnail-cover {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.detail-cover {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.entry-detail-btn {
  display: inline-block;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 5px 0 $primary;
    -webkit-box-shadow: 0 0 5px 0 $primary;
    -moz-box-shadow: 0 0 5px 0 $primary;
  }
  & img {
    cursor: pointer;
    transition: all .2s ease;
    vertical-align: middle;
  }
  & img:hover {
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
  }
}

.status-on-shelve {
  background: darkgreen;
}

.status-checked-out {
  background: darkorange;
}

.status-discontinued {
  background: darkred;
}

.detail-field-label {
  padding: 3px 10px;
  border-bottom: solid 1px $black;
  color: $black;
}

.input-btn-icon {

}

.category-checkbox:hover {
  &:first-child {
    border-width: 3px;
  }
}